<div class="jumbotron">
  <div class="container">
    <h1>Welcome to the Sassy bookstore</h1>
    <p>A Codaisseur shop-project</p>
  </div>
</div>
<div class="container">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
      Sort by
    </button>
    <ul class="dropdown-menu">
    <li><%= link_to "Sort A-Z", products_path(order_by_title: "Sort A-Z") %></li>
    <li><%= link_to "Sort Z-A", products_path(order_by_title: "Sort Z-A") %></li>
  </ul>
</div>

</div>
