<div class="text-center">
  <div clas="container">
    <br><br>
    <h1 class="header-txt">The Sassy Bookstore</h1>
    <p>Welcome to The Sassy Bookstore - shop all your sassy books here!</p>
    <%= link_to "See all books", products_path, class: "btn btn-default main-btn" %>
  </div>
</div>
<br><hr>
<div class="container text-center">
  <br><br>
  <p id="latestbooks">Latest books</p>
  <br>
  <div class="row">
    <div class="col-xs-4">
      <%= image_tag @product1.image, class: "img-thumbnail" %>
    </div>
    <div class="col-xs-4">
      <%= image_tag @product2.image, class: "img-thumbnail" %>
    </div>
    <div class="col-xs-4">
      <%= image_tag @product3.image, class: "img-thumbnail" %>
    </div>
  </div>
</div>
