<div class="octo-background">
  <div class="container">
    <div class="row octo-row">
      <img src="http://res.cloudinary.com/maressajoseph/image/upload/v1496411761/octopus1600_gsb7wn.png" class="octo-img">
    </div>
    <div class="row octo-row">
      <h3>Thank you for purchasing 3 octopuses, they will be shipped to you shortly!</h3>
    </div>
  </div>
</div>
