@import "bootstrap-sprockets";
@import "bootstrap";

body{
	font-family: 'Raleway', serif;
	font-size: 15px;
}
.img-thumbnail {
  height: 300px;
  width: 200px;
}

.little-shopping-cart {
	border: 1px solid lightgrey;
	padding-top: 6px;
	border-radius: 10%;
}

h3 {
	color: rgb(255,87,45);
}

h5 {
	font-size: 16px;
}


.header-txt{
	font-family: 'Montserrat Subrayada', sans-serif;
	color: rgb(255,87,45);
	font-size: 80px;
}

.navbar-brand {
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 22px;
}

.navbar-default .navbar-brand {
	color: rgb(255,87,45);
}

.navbar-default .navbar-brand:hover {
	color: rgb(255,87,45);
}

h4 a {
	color: black;
	text-decoration: none;
	font-size: 16px;
}

h4 a:hover {
	color: rgb(255,87,45);
}

#latestbooks {
	font-size: 20px;
}

footer {
	font-size: 14px;
}


.img-thumbnail:hover{
	transform: scale(1.01, 1.01);
	animation-duration: .7s;
}

.btn:hover{
	background-color: rgba(254,255,193,0.4);
}

.main-btn{
	width: 40rem;
	margin-top: 2rem;
	color: grey;
	font-size: 20px;
}

.main-btn:hover{
	width: 40rem;
	margin-top: 2rem;
	background-color: white;
	background-color: rgba(254,255,193,0.4);
	font-weight: 600;
	text-shadow: .2px 0  0.1px #5E616A;
}

.cart-item {
  height: 25px;
  width: 25px;
}

.item-left img {
	height: 50px;
  width: 35px;
}

.mix{
    min-height:370px;
}

ul.dropdown-cart{
    min-width:450px;
    border: 2px solid #343434;
    padding: 2px;
    margin: 7px;
    margin-top: 11px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;

}
ul.dropdown-cart li .item:hover{
    background-color:#c3c5c5;

}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}
