@import "bootstrap-sprockets";
@import "bootstrap";

body{
	font-family: 'Playfair Display', serif;
	font-size: 15px;
}
.img-thumbnail {
  height: 400px;
  width: 300px;
}

.jumbotron{
	background-color: #E8AA8C;
}

.jumbotron .container {
	display: flex;
}

.container{
	align-items: center;
	flex-direction: column;
}

.main-container{
	margin-bottom: 20rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.header-txt{
	font-family: 'Montserrat Subrayada', sans-serif;
}

.navbar-default{
	background-color: rgba(226, 220, 213, .5);
}

footer {
	height: 1rem;
	margin-top: 1rem;
	align-content: center;
	bottom: 0;
}

.img-thumbnail{
	filter:brightness(110%);
}

.img-thumbnail:hover{
	transform: scale(1.01, 1.01);
	animation-duration: .7s;
	filter:brightness(100%)
}

.btn:hover{
	background-color: #E8AA8C;
}

.main-btn{
	width: 40rem;
	margin: 6rem;	
	background-color: #E8AA8C;
	color:white;
	font-weight: 600;
	text-shadow: 1px 0  0.1px #5E616A;
}

.main-btn:hover{
	width: 40rem;
	margin: 6rem;	
	background-color: white;
	color:#5E616A;
	font-weight: 600;
	text-shadow: .5px 0  0.1px #5E616A;
}