@import "bootstrap-sprockets";
@import "bootstrap";

body{
	font-family: 'Raleway', serif;
	font-size: 15px;
}
.img-thumbnail {
  height: 400px;
  width: 300px;
}


.header-txt{
	font-family: 'Montserrat Subrayada', sans-serif;
	color: rgb(255,87,45);
	font-size: 80px;
}

#latestbooks {
	font-size: 20px;
}

footer {
	font-size: 14px;
}


.img-thumbnail:hover{
	transform: scale(1.01, 1.01);
	animation-duration: .7s;
}

.btn:hover{
	background-color: #E8AA8C;
}

.main-btn{
	width: 40rem;
	margin-top: 2rem;
	color: grey;
	font-size: 20px;
}

.main-btn:hover{
	width: 40rem;
	margin-top: 2rem;
	background-color: white;
	color:#5E616A;
	font-weight: 600;
	text-shadow: .2px 0  0.1px #5E616A;
}

.cart-item {
  height: 25px;
  width: 25px;
}

.item-left img {
	height: 50px;
  width: 35px;
}

.mix{
    min-height:370px;
}

ul.dropdown-cart{
    min-width:350px;
    border: 2px solid #343434;
    padding: 2px;
    margin: 7px;
    margin-top: 11px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;

}
ul.dropdown-cart li .item:hover{
    background-color:#c3c5c5;

}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}
